@page
@{            ViewData["Title"] = "Layout page";

}

<h1>My Name Is David Bankole Abel</h1>


@section Section{
<div class="text-center">
    <p>This is the section i created in my layout</p>
</div>

}