@page
@{ ViewData["Title"] = "Layout page";

}
<h3>David Bankole Abel</h3>
<form>
    <input type=number />
    <input type=number />
    <output></output>
    <button type=submit>Calculate</button>
</form>


@section Section{
    <div class="text-center">
        <p>This is the section I created in my layout <br> and i am fascinated by it </p>
    </div>

}